<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title %>
  </title>
</head>

<body>
  <h2>登录页</h2>

  <form action="signin" method="post">
    <label>用户名</label>
    <input type="text" name="username">
    <label>密码</label>
    <input type="password" name="password">
    <input type="submit" value="Submit" />
  </form>
</body>
<script>

</script>

</html>